
/* Reset some defaults */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, sans-serif;
} */

 .login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  /* background: white; */
} 

/* Container for login & signup */
.loginPage {
  display: flex;
  gap: 2rem;
  /* background: rgb(255, 255, 255); */
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  width: 500px;
}

/* Each section */
.login-div,
.signup-div {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Options (Google / Email) */
.login-option {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  color: var(--write-post-text);
}

.login-option span {
  flex: 1;
  text-align: center;
  padding: 0.8rem;
  color: var(--write-post-text);
  background-color: var(--write-post-bg);
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-option span:hover {
  background: var(--card-bg);
}

/* Forms */
.login-form,
.signup-form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.login-form label,
.signup-form label {
  font-weight: 600;
  color: #b5b5b5;
}

.login-form input,
.signup-form input {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.login-form input:focus,
.signup-form input:focus {
  border-color: var(--card-bg-hover);
  outline: none;
}

button[type='submit'] {
  padding: 8px 10px;
  color: var(--write-post-text);
  background-color: var(--write-post-bg);
  font-size: 1rem;
  font-weight: bold;
  border: solid 1px white;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type='submit']:hover {
  background: var(--card-bg);
}

.below-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.below-div span{
    font-size:  15px; 
    cursor: pointer;
}
.forgot-div{
  display: flex;
}
.link-button{
  cursor: pointer;
  color: white;
}
/* Responsive */
@media (max-width: 768px) {
  .loginPage {
    flex-direction: column;
       gap: 2rem;
  }
}