
.App{
  max-width: 1000px;
  margin: auto;
}
header{
  height: 60px;
  padding: 10px;
  border-bottom: 1px solid #F2EBE9;
  display: flex;
  justify-content: space-between;
}
.logo{
  display: flex;
  align-items:center;
}
.logo img{
   max-width: 45px;
   margin-right: 2px;
}
.heading{
  font-size: 22px;
  font-weight:400;
}
.nav{
  display: flex;
  align-items: center;
}
.nav .Link{
  margin-right: 10px;
  padding: 5px 10px 5px 10px;
}

.nav .Link.active{
  border-bottom: 2px solid var(--logo-bar);
}